<div class="main_container">
  <div class="inner">
    <div class="form_start">
      <%= form_for @user do |f| %>
        <%= f.text_field :name, required: true , class: 'input_text', placeholder: 'Name'%><br/>
        <%= f.text_field :email, required: true , class: 'input_text', placeholder: 'Email'%><br/>
        <%= f.label :department %><br/>
        <%= f.select :department_id, options_for_select(Department.all.order(:name).map{|s|[s.name, s.id]}, @user&.department_id),  prompt: "Please Select Department" %><br/>
        <%= f.label :semester %><br/>
        <%= f.select :semester_id, options_for_select(Semester.all.order(:created_at).map{|s|[s.name, s.id]}, @user&.semester_id),  prompt: "Please Select Semester" %><br/>
        <% if current_user.role.name == "hod" %>
          <%= f.label :role %>
          <%= f.select :role_id, [ ['faculty',3], ['student',4] ], :prompt => 'Select One' %><br/>
        <% end %>
        <br/>
        <div class="submit_container">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
