<li><%= link_to('Students', faculty_users_path) %></li>
<li><%= link_to('Mark Attendance', faculty_attendances_path) %></li>
<li><%= link_to('Assignments', "#") %></li>
<li><%= link_to('Lectures', "#") %></li>
<li><%= link_to("Students' Marks", "#") %></li>
