<li><%= link_to('Faculties', hod_users_path(type: 'faculty')) %></li>
<li><%= link_to('Students', hod_users_path(type: 'student')) %></li>
<li><%= link_to('Subjects', hod_subjects_path) %></li>
<li><%= link_to( 'Subjects of Faculty Members', hod_faculty_subjects_path ) %></li>
<li><%= link_to( 'Lectures of Faculty Members', hod_lectures_path ) %></li>
<li><%= link_to( 'Time Table', hod_time_tables_path ) %></li>
<li class="dropdown"><a class="dropdown-toggle mydropdown" data-toggle="dropdown" href="#"><%= link_to( 'My Faculty Panel', faculty_users_path ) %> <span class="caret"></span></a>
        <ul class="dropdown-menu content">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>