<% if user_signed_in? && current_user.role.name == "admin" %>
  <div class="welcom_admin">
    <div class="welcom_admin_inner">
      <div class="heding_top">
        <span>Department Index</span>
        <%= link_to( 'Add Department',new_department_path ) %>
      </div>
      <div class="accordion" id="showDepartments">
        <% Department.all.each_with_index do |department,index| %>
          <div class="card">
            <div class="card-header" id="<%= department.id %>">
              <h5 class="mb-0">
                <button class="btn btn-link left_btn" type="button" data-toggle="collapse" data-target="#hex_<%= index %>" aria-expanded="true" aria-controls="hex_<%= index %>">
                  <%= department.name %>
                </button>
                <button class="btn btn-link btn_link_right" type="button">
                  <%= link_to( 'Edit Department', edit_department_path(department.id) ) %>
                </button>
                <button class="btn btn-link btn_link_right" type="button">
                  <%= link_to( "Destroy Department", department_path(department.id), method: :delete, data: { confirm: "You sure to delete department? This cannot be undone." }) %>
                </button>
              </h5>
            </div>

            <div id="hex_<%= index %>" class="collapse" aria-labelledby="<%= department.id %>" data-parent="#showDepartments">
              <div class="card-body">
                <label>Code :</label>
                <span><%= department.code %></span><br>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>