<% if user_signed_in? && current_user.role.name == "hod" %>
  <div class="welcom_admin">
    <div class="welcom_admin_inner">
      <div class="heding_top">
        <span>Faculty Subject Index</span>
        <%= link_to( 'Assign Subject To Faculties',new_faculty_subject_path ) %>
      </div>
      <div class="accordion" id="showFacultySubjects">
        <% FacultySubject.all.each_with_index do |faculty_subject,index| %>
          <div class="card">
            <div class="card-header" id="<%= faculty_subject.id %>">
              <h5 class="mb-0">
                <button class="btn btn-link left_btn" type="button" data-toggle="collapse" data-target="#hex_<%= index %>" aria-expanded="true" aria-controls="hex_<%= index %>">
                  <%= faculty_subject.faculty.name %>
                </button>
                <button class="btn btn-link btn_link_right" type="button">
                  <%= link_to( 'Edit Faculty Subject', edit_faculty_subject_path(faculty_subject.id) ) %>
                </button>
                <button class="btn btn-link btn_link_right" type="button">
                  <%= link_to( "Destroy Faculty Subject", faculty_subject_path(faculty_subject.id), method: :delete, data: { confirm: "You sure to delete subject? This cannot be undone." }) %>
                </button>
              </h5>
            </div>

            <div id="hex_<%= index %>" class="collapse" aria-labelledby="<%= faculty_subject.id %>" data-parent="#showFacultySubjects">
              <div class="card-body">
                <label>Subject Name :</label>
                <span><%= faculty_subject.subject.name %></span><br>
                <label>Subject Code :</label>
                <span><%= faculty_subject.subject.code %></span><br>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
