<div class="main_container">
  <div class="inner">
    <div class="form_start">
      <%= form_for @subject do |f| %>
        <%= f.text_field :name, required: true , class: 'input_text', placeholder: 'Name'%><br/>
        <%= f.text_field :code, required: true , class: 'input_text', placeholder: 'Subject Code'%><br/>
        <%= f.select :semester_id, options_for_select(Semester.all.order(:name).map{|s|[s.name, s.id]}, @subject&.semester_id),  prompt: "Please Select Semester" %><br/><br>
        <div class="submit_container">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
