<div class="main_login">
  <div class="form_inner">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field input-group">
        <span class="side"><i class="fa fa-user" aria-hidden="true"></i></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control input_field' , placeholder: 'Email'%>
      </div>

      <div class="field input-group">
        <span class="side"><i class="fa fa-lock" aria-hidden="true" style="font-size: 13px;"></i></span>
        <%= f.password_field :password, autocomplete: "current-password" , class: 'form-control input_field' , placeholder: 'Password'%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field check_box_container">
          <%= f.check_box :remember_me , class: 'check_box' %>
          <%= f.label :remember_me , class: 'check_box_label' %>
        </div>
      <% end %>

      <div class="actions butn_container">
        <%= f.submit "Log in" , class: 'submit_butn'%>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
