<div class="main_container">
  <div class="inner">
    <div class="form_start">
      <%= form_for([:admin, @user]) do |f| %>
        <%= f.text_field :name, required: true , class: 'input_text', placeholder: 'Name'%><br/>
        <%= f.email_field :email, required: true , class: 'input_text', placeholder: 'Email'%><br/>
        <%= f.select :department_id, options_for_select(Department.departments_having_no_hod.order(:name).pluck(:name, :id), @user&.department_id), { :include_blank => 'Please Select Department' }, :required => true %><br/>
        <div class="submit_container">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
