<% if user_signed_in? %>
  <div class="right_side_tab">
    <div class="right_side_inner">
      <ul class="tab_ul">
        <li><%= link_to('Homepage', root_path) %></li>
        <% if current_user.role.eql?('admin') %>
          <%= render '/shared/admin_left_navigation'%>
        <% elsif current_user.hod? %>
          <%= render '/shared/hod_left_navigation'%>
        <% elsif current_user.role.eql?('faculty') %>
          <%= render '/shared/faculty_left_navigation'%>
        <% elsif current_user.role.eql?('student') %>
          <%= render '/shared/student_left_navigation'%>
        <% end %>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      </ul>
    </div>
  </div>
<% end %>
